

<EditForm Model="@EmployeeType" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="@EmployeeType.Name" class="form-control" />
                <ValidationMessage For="@(() => EmployeeType.Name)" />
            </div>
        </div>
        <div class="form-group">
             <label>Team</label>
             <div>
                 <InputText @bind-Value="@EmployeeType.Position" class="form-control" />
                 <ValidationMessage For="@(() => EmployeeType.Position)" />
             </div>
        </div>
        <div class="form-group">
            <label>Task</label>
            <div>
                <InputText @bind-Value="@EmployeeType.Task" class="form-control" />
                <ValidationMessage For="@(() => EmployeeType.Task)" />
            </div>
        </div>
        <div class="form-group">
            <label>Second Task</label>
            <div>
                <InputText @bind-Value="@EmployeeType.secondTask" class="form-control" />
                <ValidationMessage For="@(() => EmployeeType.secondTask)" />
            </div>
        </div>
        <div class="form-group">
            <label>Extra Task</label>
            <div>
                <InputText @bind-Value="@EmployeeType.extraTask" class="form-control" />
                <ValidationMessage For="@(() => EmployeeType.extraTask)" />
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>
            <div>
                <InputText @bind-Value="@EmployeeType.Status" class="form-control" />
                <ValidationMessage For="@(() => EmployeeType.Status)" />
            </div>
        </div>
    </fieldset>

    @if(!Disabled)
        {
            <button type="submit" class="btn btn-success btn-block">
                    @ButtonText
            </button>
        }
        <BackToList Target="employeetypes" />

</EditForm>